<% provide :title, t(".about") %>
<h1><%= t ".about" %></h1>
<p>
  <%= t(".content",
    link_book: link_to(t("link_book"), "http://www.railstutorial.org/"),
    book: link_to(t("book"), "http://www.railstutorial.org/book"),
    link_screencast: link_to(t("link_screencast"),
      "http://screencasts.railstutorial.org/"),
    link_ror: link_to(t("link"), "http://rubyonrails.org/"),
  ).html_safe %>
</p>
