<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t(".content",
    help: link_to(t("link_help"),
      "http://www.railstutorial.org/help"),
    book: link_to(t("link_book"),
      "http://www.railstutorial.org/book")).html_safe %>
</p>
